{% extends 'base.html' %}
{% block content %}

<h1>Welcome to my blog  </h1>
    <br>
    <br>
    <ul>
{% for post in object_list %}
         <li>

        <a href={% url 'article_detail' post.pk  %}>{{ post.title }}</a>  -   {{ post.author.first_name }}  {{ post.author.last_name }}
            <small> <a href="{% url 'update_post' post.pk %}"> (Edit Post) </a></small> <small> <a href="{% url 'delete_post' post.pk %}"> (Delete Post) </a></small>
             <br>
    {{ post.body }}

    </li>
    </ul>

{% endfor %}
{% endblock %}