{% extends 'base.html' %}
{% block content %}

<h1>Welcome to my blog {{ user.username }} </h1>
    <br>
    <br>
    <ul>
{% for post in object_list %}
         <li>

        <a href={% url 'article_detail' post.pk  %}>{{ post.title }}</a> - <a href="{% url 'url_category' post.categories|slugify%}">{{ post.categories }}</a> -   {{ post.author.first_name }}  {{ post.author.last_name }}
            {% if user.is_authenticated%}
                 {% if user.id == post.author.id %}
             <small> <a href="{% url 'update_post' post.pk %}"> (Edit Post) </a>
            </small>
             <small> <a href="{% url 'delete_post' post.pk %}"> (Delete Post) </a></small>
             <br>

                     {% endif %}
             {% endif %}
    {{ post.snippet }}


    </li>
    </ul>

{% endfor %}

{% endblock %}
