{% extends 'base.html' %}
{% block content %}
<h1>Blogs associated with {{ category }} </h1>
    <br>
    <br>
    <ul>
{% for post in post_by_category %}
         <li>

        <a href={% url 'article_detail' post.pk  %}>{{ post.title }}</a>  -   {{ post.author.first_name }}  {{ post.author.last_name }}
            {% if user.is_authenticated%}
             <small> <a href="{% url 'update_post' post.pk %}"> (Edit Post) </a>
            </small>
             <small> <a href="{% url 'delete_post' post.pk %}"> (Delete Post) </a></small>
             <br>
             {% endif %}

    {{ post.body | slice:"200" | safe}}

    </li>
    </ul>

{% endfor %}
{% endblock %}